body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 55px;
    overflow: hidden;
    background-color: black;
    
  }

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: purple;
  }

  input[type="text"]{
    padding-left:10px;
 }

