/* Speciaal een nieuw css bestand gemaakt om u werk wat makkelijker te maken. */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container, body{
    background: #000;
}
.fa-solid{
    color: #fff;
    position: fixed;
    top: 3em;
    left: 2rem;
}
.sGH{
    cursor: default;
    text-align: center;
    margin: 3rem 0 3rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
}
.content{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.card{
    margin: 1rem;
}
.card img{
    width: 20rem;
    height: 10rem;
}
.card h4{
    cursor: default;
    padding-top: 10px;
    font-weight: bold;
    color: #fff;
}
@media screen and (max-width: 950px) {
    .content {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  @media screen and (max-width: 650px) {
    .content {
      display: grid;
      grid-template-columns: auto;
    }
  }
